﻿/*-----------------------------------*\
  RESET
\*-----------------------------------*/
*, :before, :after {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, select, button, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
}


/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/
h1 {
    font-size: 2.2rem;
    font-weight: 100;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 18px 0 6px 0;
}

/*-----------------------------------*\
  BODY
\*-----------------------------------*/
body, html, p {
    font-family: 'Droid Arabic Naskh', 'Segoe UI';
    line-height: 1.8;
}

body {
    margin: auto 12px;
}

html {
    font: 100%/1.5 'Droid Arabic Naskh', Verdana, sans-serif;
    color: #3d464d;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow: hidden-x;
    /* Centering in The Unknown */
    text-align: center;
}

@media (min-width: 650px) {
    html {
        height: 100%;
    }

        html:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
        }

    body {
        display: inline-block;
        vertical-align: middle;
        max-width: 44rem;
    }

    h1 {
        font-size: 3rem;
    }
}

/*-----------------------------------*\
  ETC
\*-----------------------------------*/
hr {
    border: none;
    margin: 6px auto;
    height: 1px;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(0deg, #fff, #ccc, #fff);
}

a {
    color: inherit;
    text-decoration: none;
}

    a.button {
        background: #555;
        border: 2px solid #FFF;
        color: #FFF;
        padding: 0.6rem 0.8rem;
        margin: 0 6px;
        border-radius: 4px;
        font-weight: 700;
        cursor: pointer;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }

        a.button:hover {
            background: #FFF;
            color: #555;
            border-color: #555;
        }


i {
    cursor: pointer;
}
