.ibl {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.ibl.ibl-bsi-64 {
  background-position: 0 0;
  width: 64;
  height: 64;
}
.ibl.ibl-mellat-64 {
  background-position: -64 0;
  width: 64;
  height: 64;
}
.ibl.ibl-tejarat-64 {
  background-position: -128 0;
  width: 64;
  height: 64;
}
.ibl.ibl-bmi-64 {
  background-position: -192 0;
  width: 64;
  height: 64;
}
.ibl.ibl-sepah-64 {
  background-position: -256 0;
  width: 64;
  height: 64;
}
.ibl.ibl-bki-64 {
  background-position: 0 -64;
  width: 64;
  height: 64;
}
.ibl.ibl-parsian-64 {
  background-position: -64 -64;
  width: 64;
  height: 64;
}
.ibl.ibl-maskan-64 {
  background-position: -128 -64;
  width: 64;
  height: 64;
}
.ibl.ibl-rb-64 {
  background-position: -192 -64;
  width: 64;
  height: 64;
}
.ibl.ibl-en-64 {
  background-position: -256 -64;
  width: 64;
  height: 64;
}
.ibl.ibl-ansar-64 {
  background-position: 0 -128;
  width: 64;
  height: 64;
}
.ibl.ibl-bpi-64 {
  background-position: -64 -128;
  width: 64;
  height: 64;
}
.ibl.ibl-sb-64 {
  background-position: -128 -128;
  width: 64;
  height: 64;
}
.ibl.ibl-sina-64 {
  background-position: -192 -128;
  width: 64;
  height: 64;
}
.ibl.ibl-post-64 {
  background-position: -256 -128;
  width: 64;
  height: 64;
}
.ibl.ibl-ghbi-64 {
  background-position: 0 -192;
  width: 64;
  height: 64;
}
.ibl.ibl-tt-64 {
  background-position: -64 -192;
  width: 64;
  height: 64;
}
.ibl.ibl-shahr-64 {
  background-position: -128 -192;
  width: 64;
  height: 64;
}
.ibl.ibl-ba-64 {
  background-position: -192 -192;
  width: 64;
  height: 64;
}
.ibl.ibl-sarmayeh-64 {
  background-position: -256 -192;
  width: 64;
  height: 64;
}
.ibl.ibl-day-64 {
  background-position: 0 -256;
  width: 64;
  height: 64;
}
.ibl.ibl-hi-64 {
  background-position: -64 -256;
  width: 64;
  height: 64;
}
.ibl.ibl-iz-64 {
  background-position: -128 -256;
  width: 64;
  height: 64;
}
.ibl.ibl-kar-64 {
  background-position: -192 -256;
  width: 64;
  height: 64;
}
.ibl.ibl-tourism-64 {
  background-position: -256 -256;
  width: 64;
  height: 64;
}
.ibl.ibl-bim-64 {
  background-position: 0 -320;
  width: 64;
  height: 64;
}
.ibl.ibl-edbi-64 {
  background-position: -64 -320;
  width: 64;
  height: 64;
}
.ibl.ibl-me-64 {
  background-position: -128 -320;
  width: 64;
  height: 64;
}
.ibl.ibl-ivbb-64 {
  background-position: -192 -320;
  width: 64;
  height: 64;
}
.ibl.ibl-bsi-128 {
  background-position: 0 0;
  width: 128;
  height: 128;
}
.ibl.ibl-mellat-128 {
  background-position: -128 0;
  width: 128;
  height: 128;
}
.ibl.ibl-tejarat-128 {
  background-position: -256 0;
  width: 128;
  height: 128;
}
.ibl.ibl-bmi-128 {
  background-position: -384 0;
  width: 128;
  height: 128;
}
.ibl.ibl-sepah-128 {
  background-position: -512 0;
  width: 128;
  height: 128;
}
.ibl.ibl-bki-128 {
  background-position: 0 -128;
  width: 128;
  height: 128;
}
.ibl.ibl-parsian-128 {
  background-position: -128 -128;
  width: 128;
  height: 128;
}
.ibl.ibl-maskan-128 {
  background-position: -256 -128;
  width: 128;
  height: 128;
}
.ibl.ibl-rb-128 {
  background-position: -384 -128;
  width: 128;
  height: 128;
}
.ibl.ibl-en-128 {
  background-position: -512 -128;
  width: 128;
  height: 128;
}
.ibl.ibl-ansar-128 {
  background-position: 0 -256;
  width: 128;
  height: 128;
}
.ibl.ibl-bpi-128 {
  background-position: -128 -256;
  width: 128;
  height: 128;
}
.ibl.ibl-sb-128 {
  background-position: -256 -256;
  width: 128;
  height: 128;
}
.ibl.ibl-sina-128 {
  background-position: -384 -256;
  width: 128;
  height: 128;
}
.ibl.ibl-post-128 {
  background-position: -512 -256;
  width: 128;
  height: 128;
}
.ibl.ibl-ghbi-128 {
  background-position: 0 -384;
  width: 128;
  height: 128;
}
.ibl.ibl-tt-128 {
  background-position: -128 -384;
  width: 128;
  height: 128;
}
.ibl.ibl-shahr-128 {
  background-position: -256 -384;
  width: 128;
  height: 128;
}
.ibl.ibl-ba-128 {
  background-position: -384 -384;
  width: 128;
  height: 128;
}
.ibl.ibl-sarmayeh-128 {
  background-position: -512 -384;
  width: 128;
  height: 128;
}
.ibl.ibl-day-128 {
  background-position: 0 -512;
  width: 128;
  height: 128;
}
.ibl.ibl-hi-128 {
  background-position: -128 -512;
  width: 128;
  height: 128;
}
.ibl.ibl-iz-128 {
  background-position: -256 -512;
  width: 128;
  height: 128;
}
.ibl.ibl-kar-128 {
  background-position: -384 -512;
  width: 128;
  height: 128;
}
.ibl.ibl-tourism-128 {
  background-position: -512 -512;
  width: 128;
  height: 128;
}
.ibl.ibl-bim-128 {
  background-position: 0 -640;
  width: 128;
  height: 128;
}
.ibl.ibl-edbi-128 {
  background-position: -128 -640;
  width: 128;
  height: 128;
}
.ibl.ibl-me-128 {
  background-position: -256 -640;
  width: 128;
  height: 128;
}
.ibl.ibl-ivbb-128 {
  background-position: -384 -640;
  width: 128;
  height: 128;
}
.ibl.ibl-bsi-300 {
  background-position: 0 0;
  width: 300;
  height: 300;
}
.ibl.ibl-mellat-300 {
  background-position: -300 0;
  width: 300;
  height: 300;
}
.ibl.ibl-tejarat-300 {
  background-position: -600 0;
  width: 300;
  height: 300;
}
.ibl.ibl-bmi-300 {
  background-position: -900 0;
  width: 300;
  height: 300;
}
.ibl.ibl-sepah-300 {
  background-position: -1200 0;
  width: 300;
  height: 300;
}
.ibl.ibl-bki-300 {
  background-position: 0 -300;
  width: 300;
  height: 300;
}
.ibl.ibl-parsian-300 {
  background-position: -300 -300;
  width: 300;
  height: 300;
}
.ibl.ibl-maskan-300 {
  background-position: -600 -300;
  width: 300;
  height: 300;
}
.ibl.ibl-rb-300 {
  background-position: -900 -300;
  width: 300;
  height: 300;
}
.ibl.ibl-en-300 {
  background-position: -1200 -300;
  width: 300;
  height: 300;
}
.ibl.ibl-ansar-300 {
  background-position: 0 -600;
  width: 300;
  height: 300;
}
.ibl.ibl-bpi-300 {
  background-position: -300 -600;
  width: 300;
  height: 300;
}
.ibl.ibl-sb-300 {
  background-position: -600 -600;
  width: 300;
  height: 300;
}
.ibl.ibl-sina-300 {
  background-position: -900 -600;
  width: 300;
  height: 300;
}
.ibl.ibl-post-300 {
  background-position: -1200 -600;
  width: 300;
  height: 300;
}
.ibl.ibl-ghbi-300 {
  background-position: 0 -900;
  width: 300;
  height: 300;
}
.ibl.ibl-tt-300 {
  background-position: -300 -900;
  width: 300;
  height: 300;
}
.ibl.ibl-shahr-300 {
  background-position: -600 -900;
  width: 300;
  height: 300;
}
.ibl.ibl-ba-300 {
  background-position: -900 -900;
  width: 300;
  height: 300;
}
.ibl.ibl-sarmayeh-300 {
  background-position: -1200 -900;
  width: 300;
  height: 300;
}
.ibl.ibl-day-300 {
  background-position: 0 -1200;
  width: 300;
  height: 300;
}
.ibl.ibl-hi-300 {
  background-position: -300 -1200;
  width: 300;
  height: 300;
}
.ibl.ibl-iz-300 {
  background-position: -600 -1200;
  width: 300;
  height: 300;
}
.ibl.ibl-kar-300 {
  background-position: -900 -1200;
  width: 300;
  height: 300;
}
.ibl.ibl-tourism-300 {
  background-position: -1200 -1200;
  width: 300;
  height: 300;
}
.ibl.ibl-bim-300 {
  background-position: 0 -1500;
  width: 300;
  height: 300;
}
.ibl.ibl-edbi-300 {
  background-position: -300 -1500;
  width: 300;
  height: 300;
}
.ibl.ibl-me-300 {
  background-position: -600 -1500;
  width: 300;
  height: 300;
}
.ibl.ibl-ivbb-300 {
  background-position: -900 -1500;
  width: 300;
  height: 300;
}
